[run]
omit =
    yui/migrations/**/*.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if TYPE_CHECKING:
    if __name__ == .__main__.:
omit =
    yui/migrations/**/*.py
