fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: check-ast
    - id: check-byte-order-marker
    - id: check-case-conflict
    - id: check-json
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-toml
    - id: check-xml
    - id: check-yaml
    - id: debug-statements
    - id: detect-private-key
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: trailing-whitespace
  - repo: https://github.com/sqlalchemyorg/zimports/
    rev: 0.1.3
    hooks:
    - id: zimports
      args:
      - '--style=cryptography'
      - '--expand-stars'
      - '--keep-unused'
      - yui
      - tests
  - repo: https://github.com/asottile/yesqa
    rev: v1.1.0
    hooks:
    - id: yesqa
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
    - id: black
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.7.9
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.770
    hooks:
    - id: mypy
      files: yui
