[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = {version = ">=3.1.1"}
cchardet = "*"
aiodns = "*"
async-timeout = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
alembic = "*"
click = "*"
toml = "*"
aiocron = "*"
fuzzywuzzy = {extras = ["speedup"]}
lxml = "*"
cssselect = "*"
babel = "*"
ujson = "*"
libearth = "*"
attrdict = "*"
pytz = "*"
"yui" = {path = ".", editable = true}
tzlocal = "*"
"psycopg2-binary" = "*"
pyppeteer = "*"
asyncio-contextmanager = "*"
aiohttp-doh = "*"
idna-ssl = {version = "*", markers = "python_version == '<3.7'"}
attrs = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
aioresponses = {version = ">=0.4.1"}
"flake8" = "*"
"flake8-import-order" = "*"
codecov = "*"
